html {
    -webkit-text-size-adjust: 100%;
}
body {
    overflow-y: scroll;
}
*{
    margin:0px;
    padding:0px; 
    vertical-align:top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
a, button{
    cursor:pointer;
    text-decoration:none;
    color: inherit;
    transition: all 0.4s ease;
}
select, map, area, a, button{
    border:0px; 
    outline:none;
}
img{
    border-style:none;
}
h1, h2, h3, h4, h5, h6{
    font-weight:normal;
}
input[type=text], input[type=password], textarea{
    text-align: left; 
    background: transparent;
}
input, textarea, select{
    border: 0; 
    outline: none; 
    line-height: normal; 
    -webkit-appearance: none; 
    border-radius: 0;
}
textarea{
    resize: none;
}
.c{
    margin: auto;
    padding: 0 60px;
}
.clear{
    clear: both;
}
.none {
    display: none !important;
}
.p_relative{
    position: relative;
}
.col{
    display: inline-block;
}
.col_1{
    width: 100%;
}
.col_2{
    width: 50%;
}
.col_3{
    width: 33.33%;
}
.col_4{
    width: 25%;
}
.image {
    position: relative;
    display: block;
}
.bg_full {
    background: url() no-repeat 50% 50%;
    overflow: hidden;
    background-size: cover;
}
.bg_full, .full-dimension, .full_el {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.wrapper {
    overflow: hidden;
    min-height: 800px;
}
.wrapper.lock {
    position: fixed;
    width: 100%;
    left: 0;
}